body.night-mode{
	background:#333;

	.masthead,
	.posts > .post{
		border-color:#666;
	}

	.highlight{
		background-color:#999;
		border-color:#777;
		color:#FFF;
	}
	h1,
	p,
	.site-name{
		color:#CCC;
	}
	a:hover,
	a:active{
		color:#DDD;
	}

}