html.night-mode{
	body{
		background: $darkGray;
		color: #CCC;
	}
	.masthead,
	.posts > .post{
		border-color: $gray;
	}

	.highlight{
		background-color: #111;
		border-color: $gray;
		color: $white;
		overflow:hidden;
	}

	.highlight pre{
		overflow: auto;
	}

	.wrapper-footer{
		border-color: $lighterGray;
		background-color: $gray;
	}
	#search input,
	#search-results li{
		 border-color: #444;
		 color: $lightGray;
	}
	p#ad{
		background-color: $lighterGray;
		color: $lightGray;
	}
	p#irl{
		@include mobile{
			box-shadow: none;
		}
    }
	h1, h2, h3, h4, h5, h6,
	nav a,
	.post blockquote,
	.site-name{
		color: #CCC;
	}
	a,
	a:hover,
	a:active{
		color: $white;
	}

}