html.night-mode{
	body{
		background:#333;
		color:#CCC;
	}
	.masthead,
	.posts > .post{
		border-color:#666;
	}

	.highlight{
		background-color:#111;
		border-color:#666;
		color:#FFF;
		overflow:hidden;
	}

	.highlight pre{
		overflow: auto;
	}

	.wrapper-footer{
		border-color:#999;
		background-color: #666;
	}
	h1,
	nav a,
	.site-name{
		color:#CCC;
	}
	a,
	a:hover,
	a:active{
		color:#FFF;
	}

}